body{
    /*background-color: #fbfffd;*/
    line-height: 1.8;
    font-family: "microsoft yahei", "Times New Roman", "ו", Times, serif;

}

.wiki-main{
    margin: 0;
}

.wiki-item{
    margin-top: 5px;
    padding-left: 20px;
    font-size: 15px;
}

.wiki-item li{
    padding-bottom: 3px;
}

.wiki-item a{
    color: #554d53;
    text-decoration: none;

}

.wiki-item a:hover{
    color: #000000;
}

.wiki-category{
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid #e5e5e5;
    overflow: auto;
}

.toc{
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.h3, h3{
    margin-top: 30px;
    margin-bottom: 30px;
}

.h4, h4{
    margin-top: 20px;
    margin-bottom: 10px;
}

blockquote p{
    font-size: 14px;
}


